<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-app="mukeshapp">

<div ng-controller="ctrl1 as Ashu">
<input type="text" ng-model = "email">
<input type="pass" ng-model = "pass">{{value2}}>>>>>>>>>
<button ng-click="doso()" ng-show="showbutton">Ctrl1 </button>


    {{name}}??????



    <div ng-controller="ctrl2">


        {{Ashu.common}}/////////////

    </div>

    {{}}


</div>

{{name}}........
<div ng-controller="ctrl2">

      {{value2}}
     <button ng-click="xyz()">ctrl2</button>
</div>



    <input type="text" ng-click="dootherwork()">
</div>
</body>


<script src="angular/angular.js"></script>
<script src="app.js"></script>
<script src="controller1.js"></script>

</html>